# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Env
.env

# Database
*.db
*.sqlite
*.sqlite3

# Uploads
app/static/uploads/*
!app/static/uploads/.gitkeep

#IDE
.vscode/

# OS
.DS_Store
Thumbs.db
